.truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
  }
  .filter-item{
    margin-left: 2.5px;
  }
  .w-85{
    width: 85%;
  }
  .h-30{
    height: 30rem;
  }
  .md{
    height: 70vh;
  }
  .login{
    margin: 17% 5%;
  }
  .nav-bar{
    width: 85% !important;
  }
  @media (max-width: 767px) {
    .card{
      height: 102%;
    }
    .search{
      margin-bottom: 50%;
      }
    .md{
    height: 44vh;
   }
   .nav-bar{
    width: 95% !important;
  }
  }